<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__column">
        <a class="footer__logo-link" href="#"><span>Beauty</span></a>
        <p class="footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor, urna, in
          scelerisque enim commodo nec quis at posuere.</p>
        <ul class="footer__list">
          <li>
            <a class="footer__soc-link" href="#">
              <img src="@img/icon/facebook.svg" width="24" height="24" alt="facebook">
            </a>
          </li>
          <li>
            <a class="footer__soc-link" href="#">
              <img src="@img/icon/twitter.svg" width="24" height="24" alt="twitter">
            </a>
          </li>
          <li>
            <a class="footer__soc-link" href="#">
              <img src="@img/icon/insta.svg" width="24" height="24" alt="instagram">
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__column column-decor">
        <h3 class="footer__subtitle subtitle-decor">Home</h3>
        <div class="footer__spoiler">
          <div class="footer__block-link">
            <a class="footer__link" href=""><span>About</span></a>
          </div>
          <div class="footer__block-link">
            <a class="footer__link" href=""><span>Contact</span></a>
          </div>
          <div class="footer__block-link">
            <a class="footer__link" href=""><span>Blog</span></a>
          </div>
          <div class="footer__block-link">
            <a class="footer__link" href=""><span>FAQs</span></a>
          </div>
        </div>
      </div>
      <div class="footer__column column-decor">
        <h3 class="footer__subtitle subtitle-decor">Help</h3>
        <div class="footer__spoiler">
          <div class="footer__block-link">
            <a class="footer__link" href=""><span>FAQ</span></a>
          </div>
          <div class="footer__block-link">
            <a class="footer__link" href=""><span>Trems</span></a>
          </div>
          <div class="footer__block-link">
            <a class="footer__link" href=""><span>Privacy & Policy</span></a>
          </div>
          <div class="footer__block-link">
            <a class="footer__link" href=""><span>Careers</span></a>
          </div>
        </div>
      </div>
      <div class="footer__column column-decor">
        <h3 class="footer__subtitle subtitle-decor">Social</h3>
        <div class="footer__spoiler">
          <div class="footer__block-link">
            <a class="footer__link" href=""><span>Instagram</span></a>
          </div>
          <div class="footer__block-link">
            <a class="footer__link" href=""><span>Facebook</span></a>
          </div>
          <div class="footer__block-link">
            <a class="footer__link" href=""><span>Twitter</span></a>
          </div>
        </div>
      </div>
      <div class="footer__column">
        <h3 class="footer__subtitle">Subscribe</h3>
        <p class="footer__par">Lorem ipsum dolor sit amet, at consectetur adipiscing elit.</p>
        <div class="footer__block-email">
          <input class="footer__email" type="email" name="mail" placeholder="Enter email...">
          <button class="footer__btn"><img src="@img/icon/send.svg" width="20" height="20"></button>
        </div>
      </div>
    </div>
  </div>
</footer>