<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__logo-wrapper">
        <a class="header__logo-link" href="#">
          <picture>
            <source type="image/webp" srcset="@img/gallery/logo.webp">
            <img src="@img/gallery/logo.png" alt="logotype">
          </picture>
        </a>
      </div>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__item"><a class="header__item-link" href="#">Home</a></li>
          <li class="header__item"><a class="header__item-link" href="#">About</a></li>
          <li class="header__item"><a class="header__item-link" href="#">Shop</a></li>
          <li class="header__item"><a class="header__item-link" href="#">Blog</a></li>
          <li class="header__item"><a class="header__item-link" href="#">Contact</a></li>
        </ul>
      </nav>
      <div class="header__wrapper-entry">
        <a class="header__link-login" href="#">Login</a>
        <button class="header__link-login entry-sign" href="#">Sign Up</button>
      </div>
      <div class="burger">
        <div class="burger__wrapper">
          <span></span>
        </div>
      </div>
    </div>
  </div>
</header>